.title{
    color: #0091ea;
}

.copyright{
    color: #0091ea;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.copyright a{
    text-decoration: none;
    color: #0091ea;
    font-weight: bold;
    text-align: center;
}

.versions {
    border-collapse: collapse;
    margin-top: 1em;
    color: black;
}